{# src/WKT/CoreBundle/Resources/views/Core/home.html.twig #}
{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block bodyRight %}
    <div class="jumbotron">
    	<h1>WikiTech</h1> 
    	<p>Le numérique pour tous, par tous 😁</p>
    </div>
    <hr>
    {% if app.user %}
    	<div class="panel panel-default">
    		<div class="panel-heading"><h2>Continuez vos formations</h2></div>
    		<div class="panel-body">
    	{% if trainings is empty %}
    		<p>Ooooh ! Vous n'avez encore commencé aucune formation !!! 😱</p>
    		<p>N'hésitez pas à regarder ce que nous proposons </p>
    		<a class="btn btn-success btn-sm" href="{{path('wkt_platform_index')}}">Let's go !</a>
    	{% else %}

    		{% if trainings|length == 3 %}
    		{% set col = 'col-sm-4' %}
    		{% else %}    
    		{% set col = 'col-sm-6' %}    		    
    		{% endif %}
    	    {% for training in trainings if trainings|length > 1%}
    	        <div class="{{col}}">
    	        	<h3> {{ training.title }}</h3>
    	        	<hr>
    	        	<p> {{ training.introduction }} </p>
    	        	<hr>
    	        	<p class="text-center"><a class="btn btn-success" href="{{ path('wkt_platform_view', { 'id': training.id, 'slugTraining': training.slug}) }}">Continuer la formation</a></p>
    	        	<p class="text-center"><small><em>Crée le {{ training.createdAt|date('d/m/Y') }}</em></small></p>
    	        </div>
            {% else %}
                <div class="{{col}} col-sm-offset-3">
                    <h3> {{ trainings.title }}</h3>
                    <hr>
                    <p> {{ trainings.introduction }} </p>
                    <hr>
                    <p class="text-center"><a class="btn btn-success" href="{{ path('wkt_platform_view', { 'id': trainings.id, 'slugTraining': trainings.slug}) }}">Continuer la formation</a></p>
                    <p class="text-center"><small><em>Crée le {{ trainings.createdAt|date('d/m/Y') }}</em></small></p>
                </div>
    	    {% endfor %}
		{% endif %} 
			</div>
		</div>
	{% else %}
    	<div class="panel panel-default">
    		<div class="panel-heading"><h2>Commencer une formation</h2></div>
    		<div class="panel-body">
	    		{% if trainings|length == 3 %}
	    		{% set col = 'col-sm-4' %}
	    		{% else %}    
	    		{% set col = 'col-sm-6' %}    		    
	    		{% endif %}
	    	    {% for training in trainings %}
    	        <div class="{{col}}">
    	        	<h3> {{ training.title }}</h3>
    	        	<hr>
    	        	<p> {{ training.introduction }} </p>
    	        	<hr>
    	        	<p class="text-center"><a class="btn btn-success" href="{{ path('wkt_platform_view', { 'id': training.id, 'slugTraining': training.slug}) }}">Commencer la formation</a></p>
    	        	<p class="text-center"><small><em>Crée le {{ training.createdAt|date('d/m/Y') }}</em></small></p>
    	        </div>
    	    {% endfor %} 
			</div>
		</div>
    {% endif %}
{% endblock %}
