{# src/WKT/CoreBundle/Resources/views/Core/home.html.twig #}
{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block bodyRight %}
    <div class="jumbotron">
    	<h1>WikiTech</h1> 
    	<p>Le numérique pour tous, par tous 😁</p>
    </div>
    <hr>
    {% if app.user and trainings is not empty %}
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Continuez vos formations</h2></div>
            <div class="panel-body">
                {% for training in trainings %}
                    <div class="col-md-4">
                        {% if trainingsBeginned[training.title] is defined %}
                            {% if trainingsBeginned[training.title].finished %}
                                <h3 class=""> {{ training.title }}</h3> <span class="label label-danger">Terminée</span>
                                <hr>
                                <p> {{ training.introduction }} </p>
                                <hr>
                                <p class="text-center"><a class="btn btn-primary" href="{{ path('wkt_platform_view', { 'id': training.id, 'slugTraining': training.slug}) }}">Voir la formation</a></p>
                            {% elseif trainingsBeginned[training.title].updated %}
                                <h3 class=""> {{ training.title }}</h3> <span class="label label-warning">Modifications</span>
                                <hr>
                                <p> {{ training.introduction }} </p>
                                <hr>
                                <p class="text-center"><a class="btn btn-success" href="{{ path('wkt_platform_article_view', { 'id': trainingsBeginned[training.title].article.id, 'slugTraining': training.slug, 'slugArticle': trainingsBeginned[training.title].article.slug}) }}">Continuer la formation</a></p>
                            {% else %}
                                <h3 class=""> {{ training.title }}</h3> <span class="label label-success">En cours</span>
                                <hr>
                                <p> {{ training.introduction }} </p>
                                <hr>
                                <p class="text-center"><a class="btn btn-success" href="{{ path('wkt_platform_article_view', { 'id': trainingsBeginned[training.title].article.id, 'slugTraining': training.slug, 'slugArticle': trainingsBeginned[training.title].article.slug}) }}">Continuer la formation</a></p>
                            {% endif %}
                        {% else %}
                            <h3 class=""> {{ training.title }}</h3>
                            <br>
                            <hr>
                            <p> {{ training.introduction }} </p>
                            <hr>
                            <p class="text-center"><a class="btn btn-primary" href="{{ path('wkt_platform_view', { 'id': training.id, 'slugTraining': training.slug}) }}">Commencer la formation</a></p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
	{% else %}
    	<div class="panel panel-default">
    		<div class="panel-heading"><h2>Commencer une formation</h2></div>
    		<div class="panel-body">
	    	    {% for training in trainings %}
    	        <div class="col-sm-6 col-md-4">
                    <h3 class=""> {{ training.title }}</h3>
                    <hr>
                    <p> {{ training.introduction }} </p>
                    <hr>
                    <p class="text-center"><a class="btn btn-primary" href="{{ path('wkt_platform_view', { 'id': training.id, 'slugTraining': training.slug}) }}">Voir la formation</a></p>
    	        	<p class="text-center"><small><em>Crée le {{ training.createdAt|date('d/m/Y') }}</em></small></p>
    	        </div>
    	    {% endfor %} 
			</div>
		</div>
    {% endif %}
{% endblock %}
