{# src/WKT/CoreBundle/Resources/views/Core/leaderboard.html.twig #}

{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block body %}
	<div class="jumbotron">
		<h1>LeaderBoard Général</h1> 
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="panel panel-primary">
			  <div class="panel-heading">Liste des utilisateurs</div>
			  <div class="panel-body">
			    {% if users is empty %}
			    	<p class="text-center"><small><em>Aucun utilisateur enregistré</em></small></p>
			    {% else %}
			    	<table class="table">
			    		<thead>
							<tr>
								<th>Rang</th>
								<th>Utilisateur</th>
								<th>Score</th>
								<th>Profil</th>
							</tr>
			    		</thead>
			    		<tbody>
			    			{% for user in users %}
				    			<tr>
				    				<td>{{loop.index}}</td>
				    				<td>{{user.firstname}} {{user.lastname}}</td>
				    				<td>{{user.nbPoint}} pts</td>
				    				<td><td><a class="btn btn-warning btn-xs" href="{{path('wkt_user_view_profile', {'id': user.id})}}">Profil</a></td></td>
				    			</tr>
			    			{% endfor %}
			    		</tbody>
			    	</table>			        
			    {% endif %}
			  </div>
			</div>
		</div>
	</div>

	
  
  
{% endblock %}
