{# src/WKT/PlatformBundle/Resources/views/ArticleModified/add.html.twig #}

{% extends 'WKTPlatformBundle:ArticleModified:layout.html.twig' %}

{% block bodyLeft %}
   <div class="row">
		{{ include("WKTPlatformBundle:Part:addAjax.html.twig") }}
   </div>
   <br>
   <br>
   <div class="row">
		{{ include("WKTPlatformBundle:Summary:editSummary.html.twig") }}
    <div id="alertAddPart" style="display:none;" class="alert alert-success" role="alert"><p class="text-center">Votre partie a bien été crée. Votre article sera automatiquement ajouté à cette dernière 🤓</p></div>
   </div>
{% endblock %}

{% block bodyRight %}
    {{ include("WKTPlatformBundle::formAddArticleAndArticleModified.html.twig") }}
{% endblock %}

{% block javascripts %}
  {{parent()}}
  {% javascripts 'bundles/wktplatform/addAndChoosePart.js'%} 
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
