{# src/WKT/PlatformBundle/Resources/views/ArticleModified/add.html.twig #}

{% extends 'WKTPlatformBundle:ArticleModified:layout.html.twig' %}

{% block bodyLeft %}
   <div class="row">
		{{ include("WKTPlatformBundle:Part:addAjax.html.twig") }}
   </div>
   <br>
   <br>
   <div class="row">
		{{ include("WKTPlatformBundle:Summary:editSummary.html.twig") }}
   </div>
{% endblock %}

{% block bodyRight %}
    {{ include("WKTPlatformBundle::formAddArticleAndArticleModified.html.twig") }}
{% endblock %}

{% block javascripts %}
  {{parent()}}
  {% javascripts 'bundles/wktplatform/addAndChoosePart.js'%} 
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
