{% extends '::layout.html.twig' %}
{% block body %}
    {% set currentArticleModified = app.request.attributes.get('_route_params')['id'] %}
    <div class="row">
        <div class="col-sm-3">
            {% block listArticlesModified %}
                <div class="row">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="text-center panel-title">{% block introListArticleModified %}Ci-dessous la liste des modifications existantes pour cet article :{% endblock %}</h3>
                      </div>
                        {% if articlesModified is empty %}
                            <div class="panel-body">
                                <p class="text-center"><small><em>Vous pouvez également créer une nouvelle modification</em></small></p>
                                <p><a class="center-block btn btn-default btn-xs" href="{{ path('wkt_platform_article_modified_add', {'id': articleModified.article.id}) }}">Créer une nouvelle modification</a></p>
                            </div>
                            {% else %}
                            <div class="panel-body">
                                {% for articleModified in articlesModified %}
                                    <p><a class="center-block btn {% if currentArticleModified == articleModified.id %}btn-primary {% else %}
                                        btn-default{% endif %}" href="{% block urlArticleModified %}{% endblock %}">{{ articleModified.title }}</a></p>
                                {% endfor %}
                            </div>
                            <div class="panel-footer">
                                <p class="text-center"><small><em>Vous pouvez également créer une nouvelle modification</em></small></p>
                                <p><a class="center-block btn btn-default btn-xs" href="{{ path('wkt_platform_article_modified_add', {'id': articleModified.article.id}) }}">Créer une nouvelle modification</a></p>
                            </div>

                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="col-sm-9">
            {% block articleModified %}
                {% if commits is empty %}
                {% else %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Dernières modifications</h3>
                      </div>
                      <div class="panel-body">
                         {% for commit in commits %}
                                {% if commit is empty %}
                                    <p><strong>Commit n°{{ loop.index }} :</strong></p>
                                    <p><small><em>L'utilisateur n'a pas donné d'explication</em></small></p>
                                {% else %}
                                    <p><strong>Commit n°{{ loop.index }} :</strong></p>
                                    <p>{{commit}}</p>
                                {% endif %}
                         {% endfor %}
                      </div>
                    </div>
                {% endif %}
            {% endblock %}    
        </div>    
    </div>
    <div class="row">
        <div class="col-sm-3">
            {% block submitButton %}{% endblock %}
        </div>
    </div>
    {{ tinymce_init() }}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
