<div class="panel panel-default addPart addArticleFields">
  <div class="panel-heading">
    <h2 class="panel-title"> <span class="badge">2</span> Ajouter du contenu à la page</h2>
  </div>
</div>
<fieldset id="fieldsetDisabled" disabled>
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div id="formGroupPart" class="row">
        <section class="articleSection">
            <div class="col-xs-12">
                <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/part.svg') }}"> Partie choisie</h2>
                {{ form_errors(form.part) }}
                {{ form_widget(form.part, {'attr': {'class': 'form-control', 'style': 'display:none;'}}) }}
                <input id="inputPartReadOnly" class="form-control" type="text" placeholder="{% if articleEdit is defined %} {{articleEdit.part.title }}{% endif %}" readonly>
            </div>
        </section>
    </div>
    <div class="row">
      <section class="articleSection">
          <div class="col-xs-12">
              <hr>
              <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/title.svg') }}"> Titre de l'article</h2>
              {{ form_errors(form.title) }}
              {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
          </div>
      </section>
    </div>
    <div id="en_Bref" class="row">
        <section class="articleSection">
            <div class="col-xs-12">
                <hr>
                <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/bref.svg') }}"> En bref</h2>
            </div>

            <div class="col-xs-12 ">
                {{ form_errors(form.introduction) }}
                {{ form_widget(form.introduction, {'attr': {'class': 'tinymce form-control', 'required': 'required'}}) }}
            </div>
        </section>
    </div>
    <div id="en_Video" class="row">
        <section class="articleSection">
            <div class="col-xs-12">
                <hr>
                <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/video.svg') }}"> En video</h2>
            </div>
            <div class="col-xs-12">
              <p class="text-center"><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Attention <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong></p>
              <p class="text-center">Par soucis de compatibilité, seul les liens Youtube sont acceptés. Merci pour votre compréhension</p>
            </div>
            <div class="col-xs-12">
                {{ form_label(form.video.url, "Url de la video", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(form.video.url) }}
                {{ form_widget(form.video.url, {'attr': {'class': 'form-control'}}) }}   
            </div>
            <div class="col-xs-12">
                {{ form_label(form.video.author, "Auteur de la video", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(form.video.author) }}
                {{ form_widget(form.video.author, {'attr': {'class': 'form-control'}}) }}
            </div>
        </section>
        <div style="display: none;" id="alertVideo" class="alert alert-danger">
            <p class="text-center">Merci d'ajouter une url valide et un nom d'auteur pour chaque vidéo</p>
        </div>
    </div>
    <div id="en_Detail" class="row">
        <section class="articleSection">
            <div class="col-xs-12">
                <hr>
                <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/detail.svg') }}"> En detail</h2>
            </div>

            <div class="col-xs-12">
              {{ form_errors(form.content) }}
              {{ form_widget(form.content, {'attr': {'class': 'tinymce form-control'}}) }}
            </div>
        </section>
    </div>
    <div class="row">
        <section class="articleSection">
            <hr>
            <div class="col-xs-12 bottomButtonWhite">
                {{ form_widget(form.save, { 'label': 'Sauvegarder', 'attr': {'class': 'btn btn-success col-xs-4 col-xs-offset-4'}}) }}
            </div>
        </section>
    </div>
   
  {{ form_rest(form) }}
  {{ form_end(form) }}
</fieldset>



