{# src/WKT/PlatformBundle/Resources/views/ArticleModified/layout.html.twig #}

{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block bodyLeft %}
    {% set currentArticleModified = app.request.attributes.get('_route_params')['id'] %}
    <div class="listArticlesModified">
        <p class="text-center">Travailler à partir de l'article de base</p>
        <a class="center-block btn btn-success" href="{{ path('wkt_platform_article_modified_add', {'id': articleModified.article.id}) }}">Article initial</a>
        <hr>
        {% if articlesModified is empty %}
            <p class="text-center">Il n'existe encore aucune modification pour cet article</p>
        {% else %}
             <p class="text-center">Ou choisissez la version sur laquelle vous préférez travailler :</p>

             {% for articleModified in articlesModified %}
                 <a class="center-block btn {% if currentArticleModified == articleModified.id %}btn-primary {% else %}
                     btn-default{% endif %}" href="{{ path('wkt_platform_article_modified_view', {'id': articleModified.id}) }}">Version modifiée {{loop.index}}</a>
             {% endfor %}
        {% endif %}
        <hr>

    </div>
    {% include('WKTPlatformBundle:ArticleModified:buttonAdd.html.twig') %}
{% endblock %}
{% block bodyRight %}
    {% block articleModified %}
        {% if commits is defined %}
            {{ include("WKTPlatformBundle:Commit:listCommits.html.twig") }}
        {% endif %}
    {% endblock %}
{% endblock %}
{% block javascripts %}
  {{parent()}}
  {% javascripts 'bundles/wktplatform/checkVideoInArticleModified.js' 'bundles/wktplatform/radioModal.js'%} 
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}


