{# src/WKT/PlatformBundle/Resources/views/ArticleModified/layout.html.twig #}

{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block bodyLeft %}
    {% set currentArticleModified = app.request.attributes.get('_route_params')['id'] %}
    <div class="listArticlesModified">
        <p class="text-center">Choisissez la version sur laquelle vous préférez travailler :</p>
        <p><a class="center-block btn {% if currentArticleModified != articleModified.id %}btn-primary {% else %}
                   blank{% endif %}" href="{{ path('wkt_platform_article_modified_add', {'id': articleModified.article.id}) }}">Article initial</a></p>
        {% if articlesModified is empty%}
            <p class="text-center">Il n'existe encore aucune modification pour cet article</p>
        {% else %}
           {% for articleModified in articlesModified %}
              <p><a class="center-block btn {% if currentArticleModified == articleModified.id %}btn-primary {% else %}
                   blank{% endif %}" href="{{ path('wkt_platform_article_modified_view', {'id': articleModified.id}) }}">Version modifiée {{loop.index}}</a></p>
           {% endfor %}
        {% endif %}
        <hr>

    </div>
    {% include('WKTPlatformBundle:ArticleModified:buttonAdd.html.twig') %}
{% endblock %}
{% block bodyRight %}
    {% block articleModified %}
        {% if commits is defined %}
            {{ include("WKTPlatformBundle:Commit:listCommits.html.twig") }}
        {% endif %}
    {% endblock %}
{% endblock %}
{% block javascripts %}
  {{parent()}}
  {% javascripts 'bundles/wktplatform/checkVideoInArticleModified.js' 'bundles/wktplatform/radioModal.js'%} 
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}


