<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
    	<div class="modal-content">
            <div class="modal-body">
            	<h2 class="text-center">Merci</h2>
            	<p class="text-center">Pour votre contribution</p>
				<p class="text-center">Une dernière chose pour nous aider. Dîtes nous ce que vous avez fait :</p>
				<div class="form-group">
					{{ form_errors(form.commit.typeOfModification) }}
					<div class="col-sm-12">
						{{ form_widget(form.commit.typeOfModification, {'attr': {'class': 'radioType'}}) }}
					</div>
				</div>
				<div class="form-group">
					{{ form_errors(form.commit.content) }}
					<div class="col-sm-12">
						{{ form_widget(form.commit.content, {'attr': {'class': 'form-control', 'placeholder': "Expliquez nous plus en détail. Ce n'est pas obligatoire mais c'est cool pour la communauté ! 😁"}}) }}
					</div>
				</div>
            </div>
            <div class="modal-footer">	
				{{ form_widget(form.save, { 'label': 'Valider', 'attr': {'class': ' col-xs-12 btn btn-primary'}}) }}
        	</div>
		</div>
	</div>
</div>
