<div class="panel panel-default">
	<div class="panel-heading">
    	<h3 class="panel-title"><span class="badge">2</span> Proposition d'un nouvel article</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<div id="formGroupPart" class="form-group">
				  {{ form_label(form.part, "Partie choisie", {'label_attr': {'class': 'control-label'}}) }}
				  {{ form_errors(form.part) }}
				  <div class="col-sm-12">
				    {{ form_widget(form.part, {'attr': {'class': 'form-control', 'style': 'display:none;'}}) }}
				    <input id="inputPartReadOnly" class="form-control" type="text" placeholder="{{articleModified.part.title}}" readonly>
				  </div>
				</div>
			</div>
		</div>
	    <div class="row">
	    	<div class="col-xs-12">
	    		<div class="form-group">
	    			<h3>{{ form_label(form.title, "Titre de l'article", {'label_attr': {'class': 'control-label'}}) }}</h3>
	    		    {{ form_errors(form.title) }}
	    		    <div class="col-sm-12">
	    		    	{{ form_widget(form.title, {'attr': {'class': 'form-control'}, 'value': articleModified.title}) }}
	    		    </div>
	    		</div>
	    	</div>
	    </div>
	    <hr>
	    <div class="row">
	    	<div class="col-xs-12">
	    		<div class="form-group">
	    			<h3>{{ form_label(form.introduction, "En Bref", {'label_attr': {'class': 'control-label'}}) }}</h3>
	    		    {{ form_errors(form.introduction) }}
	    		    <div class="col-sm-12">
	    		    	{{ form_widget(form.introduction, {'attr': {'class': 'tinymce form-control'}, 'value': articleModified.introduction}) }}
	    		    </div>
	    		</div>
	    	</div>
	    </div>
	    <hr>
        <div class="row">
        	<div class="col-xs-12">
        		<div style="display: none;" id="alertVideo" class="alert alert-danger">
        			<p class="text-center">Merci d'ajouter une url valide et un nom d'auteur pour chaque vidéo</p>
        		</div>
        	    <div class="form-group">
        	        {{ form_label(form.video.url, "Url de la video") }}
        	        {{ form_errors(form.video.url) }}
    	        	{{ form_errors(form.video.url) }}
    	        	{% if articleModified.video is empty %}
    					{{ form_widget(form.video.url, {'attr': {'class': 'form-control'}}) }}
    				{% else %}
    				    {{ form_widget(form.video.url, {'attr': {'class': 'form-control'}, 'value': 'https://www.youtube.com/embed/' ~ articleModified.video.url }) }}
    	        	{% endif %}
        	    </div>	
        	    <div class="form-group">
        	        {{ form_label(form.video.author, "Auteur de la video") }}
        	        {{ form_errors(form.video.author) }}
				    {{ form_errors(form.video.author) }}
				    {% if articleModified.video is empty %}
				    	{{ form_widget(form.video.author, {'attr': {'class': 'form-control'}}) }}
				    	{% else %}
				        	{{ form_widget(form.video.author, {'attr': {'class': 'form-control'}, 'value': articleModified.video.author}) }}
				    {% endif %}
        	    </div>	
        	</div>
    		<div class="col-xs-12">
				{% if articleModified.video is empty %}
			    	<h3>Aucune vidéo n'est encore enregistrée sur cette article</h3>
			    {% else %}
			    	 <div class="embed-responsive embed-responsive-16by9">
			    	 	<iframe class="embed-responsive-item" allowfullscreen src="https://www.youtube.com/embed/{{ articleModified.video.url}}"></iframe>
			    	 </div>
			    {% endif %}
    		</div>
        </div>
	    <hr>
	    <div class="row">
	    	<div class="col-xs-12">
	    		<div class="form-group">
	    			<h3>{{ form_label(form.content, "En Détail", {'label_attr': {'class': 'control-label'}}) }}</h3>
	    		    {{ form_errors(form.content) }}
	    		    <div class="col-sm-12">
	    		    	{{ form_widget(form.content, {'attr': {'class': 'tinymce form-control'}, 'value': articleModified.content}) }}
	    		    </div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>

