{% if part.Article is defined %}
  {% for article in part.Article %}
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" value=" {{ article.orderArticle }}" {% if articleEdit is defined and article.entityArticle == articleEdit %}checked{% endif %}>
          {{ article.entityArticle.title }}
          <input type="hidden" name="partId" value="{{part.Part.entity.id}}">
        </label>    
      </div>
      
  {% endfor %}
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="option{{loop.index}}" value="{{ part.Article|last.orderArticle + 1 }}">
        <small><em>Ajouter un article à la fin de la partie</em></small>
        <input type="hidden" name="partId" value="{{part.Part.entity.id}}">
      </label>
    </div>
{% else %}
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" value="1">
        <small><em>Ajouter une première page à cette partie</em></small>
        <input type="hidden" name="partId" value="{{part.Part.entity.id}}">
      </label>
    </div>
{% endif %}
