{# src/WKT/PlatformBundle/Resources/views/Training/articlePerPart.html.twig #}
{% set edit = '' %}
{% set finish = '' %}
<li class="liArticle" {% if request.attributes.get("_route") == 'wkt_platform_article_view' and  request.attributes.get('_route_params')['id'] == article.entityArticle.id %} class="active" {% endif %}><a href=" {{ path('wkt_platform_article_view', { 'id': article.entityArticle.id , 'slugTraining': part.Part.entity.training.slug, 'slugArticle': article.entityArticle.slug})}}">
    {% if app.user and app.user.userArticlesRead is not empty %}
		{% for articleRead in app.user.userArticlesRead %}
		    {% if articleRead.article == article.entityArticle %}
		    	{% if articleRead.updated %}
		    		{% set edit = 'images/icones/edit.svg' %}
		    	{% else %}
		    		{% set finish = 'images/icones/finish.svg' %}
		    	{% endif %}
		    {% endif %}
		{% endfor %}
    {% endif %}

    {% if edit is not empty %}
		<img class="imgSummary" src="{{ asset(edit) }}">
	{% elseif finish is not empty %}
	    <img class="imgSummary" src="{{ asset(finish) }}">
	{% else %}
	    <img class="imgSummary" src="{{ asset('images/icones/begin.svg') }}">
    {% endif %}
    {{ article.entityArticle.title }}
    </a>
</li>
