{# src/WKT/PlatformBundle/Resources/views/Training/edit.html.twig #}

{% extends 'WKTPlatformBundle:Training:layoutAdmin.html.twig' %}
{% block textFormulaire %}
    Modification de la formation {{training.title}}
{% endblock %}
{% block editPart %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Parties de la formation {{training.title}}</h3>
            </div>
            <div class="panel-body">
            {% if training is empty %}
                <strong><em>Aucune formation n'a encore été sélectionnée </em>🤓</strong>
            {% else %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">Titre de la partie</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for part in training.parts %}
                            <tr class="{% if not part.isEnabled %}danger{% endif %}">
                                <td>{{part.title}}</td>
                                <td><p class="text-center"><a href="{{path('wkt_platform_part_edit', {'id': part.id})}}" class="btn btn-warning">Modifier</a></p></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
{% endblock %}
{% block miniature %}
    <div class="col-xs-12">
    	<div class="col-sm-4">
    		<div class="thumbnail">
    		    {% if training.image is empty %}
    		        <p class="text-center"><small><em>Aucune image enregistrée</em></small></p>
    		    {% else %}
    		        <img src="{{ asset(training.image.webPath) }}" alt="{{ training.image.alt }}">
    		    {% endif %}
    		</div>
    	</div>
    	<div class="col-sm-8">
    		<div class="form-group">
    		  {{ form_label(form.image, "Choisissez votre miniature") }}
    		  {{ form_widget(form.image.file, {'attr': {'class': 'form-control'}}) }}
    		  <p class="help-block"><small><em>Limite 20 Mo</em></small></p>
    		  <p class="help-block"><small><em>Formats autorisés : PNG/JPEG/JPG/GIF</em></small></p>
              <p class="help-block"><small><em>Pour une qualité optimale, préférez une image de taille 224 x 150 px ou avec le même ratio</em></small></p>
              <p>{{ form_errors(form.image.file) }}</p>
    		</div>
    	</div>
    </div>
{% endblock %}
