{% if trainings is empty %}
<div class="col-xs-12">
    <div class="buttonLinkArticle">
        <p class="text-center"><small><em>Aucune formation n'est encore en ligne</em></small></p>
    </div>
</div>
{% endif %}
{% if app.user and trainings is not empty %}
    {% for training in trainings %}
        {% include 'WKTPlatformBundle:Training:indexTraining.html.twig'%}
    {% endfor %}
{% else %}
    {% for training in trainings %}
        <div class="col-xs-12 col-sm-4 col-sm-offset-0">
            <div class="thumbnailHome">
                {% if training.image is empty %}
                    <img class="miniatureHome" src="{{asset('images/training.jpeg')}}" alt="Miniature Wikitech">
                {% else %}
                    <img class="miniatureHome" src="{{ asset(training.image.webPath) }}" alt="{{ training.image.alt }}">
                {% endif %}
                <div class="caption">
                    <h3 class=""> {{ training.title }}</h3>
                    <div class="textCaption">
                        <p>{{ training.homeText }}</p>
                    </div>
                    <p class="text-center"><a class="btn blank" href="{{ path('wkt_platform_view', {'slugTraining': training.slug}) }}">Démarrer ></a></p>
                </div>
            </div>
        </div>
    {% endfor %} 
{% endif %}
