{# src/WKT/PlatformBundle/Resources/views/Training/index.html.twig #}

{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block bodyLeft %}
    
{% endblock %}
{% block bodyRight %}
    <h1>Voici la liste des formations</h1>
    <hr>
	<div class="row">
		{% if trainings is empty %}
			<div class="jumbotron">
				<h3 class="text-center">Aucune formation encore en ligne 😱</h3>
			</div>
		{% else %}
		    {% for training in trainings %}
		        <div class="col-sm-4">
					{% if app.user %}
						{% if trainingsBeginned[training.title] is defined %}
							{% if trainingsBeginned[training.title].finished %}
								<h3 class=""> {{ training.title }}</h3> <span class="label label-danger">Terminée</span>
								<hr>
								<p> {{ training.introduction }} </p>
								<hr>
								<p class="text-center"><a class="btn btn-primary" href="{{ path('wkt_platform_view', { 'slugTraining': training.slug}) }}">Voir la formation</a></p>
							{% elseif trainingsBeginned[training.title].updated %}
								<h3 class=""> {{ training.title }}</h3> <span class="label label-warning">Modifications</span>
								<hr>
								<p> {{ training.introduction }} </p>
								<hr>
								<p class="text-center"><a class="btn btn-success" href="{{ path('wkt_platform_article_view', {'slugTraining': training.slug, 'slugArticle': trainingsBeginned[training.title].article.slug}) }}">Continuer la formation</a></p>
							{% else %}
								<h3 class=""> {{ training.title }}</h3> <span class="label label-success">En cours</span>
								<hr>
								<p> {{ training.introduction }} </p>
								<hr>
							    <p class="text-center"><a class="btn btn-success" href="{{ path('wkt_platform_article_view', {'slugTraining': training.slug, 'slugArticle': trainingsBeginned[training.title].article.slug}) }}">Continuer la formation</a></p>
							{% endif %}
						{% else %}
							<h3 class=""> {{ training.title }}</h3>
							<br>
							<hr>
							<p> {{ training.introduction }} </p>
							<hr>
						    <p class="text-center"><a class="btn btn-primary" href="{{ path('wkt_platform_view', {'slugTraining': training.slug}) }}">Commencer la formation</a></p>
						{% endif %}
					{% else %}
						<h3 class=""> {{ training.title }}</h3>
						<br>
						<hr>
						<p> {{ training.introduction }} </p>
						<hr>
					    <p class="text-center"><a class="btn btn-primary" href="{{ path('wkt_platform_view', {'slugTraining': training.slug}) }}">Voir la formation</a></p>
					{% endif %}
		        	
		        	<p class="text-center"><small><em>Crée le {{ training.createdAt|date('d/m/Y') }}</em></small></p>
		        </div>
		    {% endfor %}
		{% endif %}
	</div>
{% endblock %}

