{% if part.Part.entity.enabled %}
	<a class="titleSummary" data-toggle="collapse" href="#collapse{{loop.index}}" aria-expanded="false" aria-controls="#collapse{{loop.index}}">
		<img class="imgSummary" src="{{ asset('images/icones/arrow.svg') }}"> {{ part.Part.entity.title }} {% if app.user %}<span style="float: right; text-align: right">{{loopArticleRead}}/{{loopArticle}}</span>{% endif %}</a>
	<ul class="collapse in" id="collapse{{loop.index}}">
		{% if part.Article is defined %}
			{% for article in part.Article %}
				{% include('WKTPlatformBundle:Training:articlePerPart.html.twig')%}
			{% endfor %}
		{% endif %}
	</ul>
	{% if not loop.last %}
		<hr>
	{% endif %}
{% endif %}
