{# src/WKT/PlatformBundle/Resources/views/Training/view.html.twig #}

{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block bodyRight %}
	<div class="jumbotron">
		<h1> {{ training.title }} </h1>
		<p><a class="btn btn-primary btn-lg" href="">Commencer le cours !</a> 
        {% if is_granted('ROLE_USER') %}
            {% if is_granted('ROLE_ADMIN') %}
                <strong>OU</strong> <a class="btn btn-success btn-lg" href="{{ path('wkt_platform_article_add', {'id': training.id}) }}">Ajouter un article</a></p>
            {% else %}
                <strong>OU</strong> <a class="btn btn-success btn-lg" href="{{ path('wkt_platform_article_modified_add_new_article', {'id': training.id}) }}">Proposer un article</a></p>
            {% endif %}
        {% else %}
            
        </p>
        {% endif %}   
	</div>
    <h2>Présentation de la formation</h2>
    <p> {{ training.introduction|raw}} </p>
    <hr>
    <h2> Sommaire de la formation </h2>
    {{ include("WKTPlatformBundle:Summary:viewSummary.html.twig") }}
    <hr>
    <p><a class="btn btn-primary btn-lg" href="{{ path('wkt_core_home') }}">Retour à l'accueil</a></p>
{% endblock %}
