{# src/WKT/PlatformBundle/Resources/views/Training/view.html.twig #}

{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block body %}
    <div class="row">
        <section class="standardSection">
            <div class="col-xs-12">
                 <h1 class="titleTraining">{{ training.title }}</h1>
                 <p class="paragrapheAfterTitle">{{ training.introduction|raw}}</p>
            </div>
            <div class="col-xs-12">
                    {% set classAdmin = 'col-sm-3 col-sm-offset-2 col-xs-6 col-xs-offset-3' %}
                    {% set class = 'col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3' %}
                {% if articleNotRead %}
                    <a href="{{path('wkt_platform_article_view', {'id': articleNotRead.id, 'slugTraining': training.slug, 'slugArticle': articleNotRead.slug })}}" class="btn btn-primary {% if is_granted('ROLE_ADMIN') %}{{classAdmin}}{% else %}{{class}}{% endif %}">Commencer la formation</a>                   
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-success col-sm-3 col-sm-offset-2 col-xs-6 col-xs-offset-3 secondButton" href="{{ path('wkt_platform_article_modified_add_new_article', {'id': training.id}) }}">Créer un nouvel article</a>
                {% endif %}
            </div>
        </section>
    </div> 
    <div class="row">
        <section class="standardSection">
            <div class="col-xs-12">
                <hr>
                <h2><img class="imgLink" src="{{ asset('images/icones/livre.svg') }}"> Sommaire</h2> 
            </div>

            <div class="col-xs-12 ">
                 {{ include("WKTPlatformBundle:Summary:viewSummary.html.twig") }}
            </div>
        </section>
    </div>
    <div class="row">
        <section class="standardSection">
            <div class="col-xs-12">
                <hr>
                <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/cup.svg') }}"> Top Contributeurs</h2>
            </div>
            <div class="col-xs-12 ">
                {% if top is empty %}
                    <p class="text-center"><small><em>Aucune contribution effectuée sur cette formation</em></small></p>
                {% else %}
                    {% for commit in top %}
                        <p>
                            {% if commit.user.image is not empty %}
                                <img class="imgTop img-circle" src="{{ asset(commit.user.image.webPath) }}" alt="{{ commit.user.image.alt }}">
                            {% else %}
                                <img class="imgTop img-circle" src="{{ asset('images/icones/emptyPicture.svg') }}" alt="User sans photo de profil">
                            {% endif %}
                            <a class="linkProfile" href="{{path('wkt_user_view_profile', {'id': commit.user.id})}}">{{commit.user.firstname}} {{commit.user.lastname}}</a>  - {{commit.score}} points
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    </div>
    <div class="row">
        <section class="standardSection">
            <div class="col-xs-12">
                <hr>
            </div>

            <div class="col-xs-12 bottomButton">
                {% if articleNotRead %}
                    <a href="{{path('wkt_platform_article_view', {'id': articleNotRead.id, 'slugTraining': training.slug, 'slugArticle': articleNotRead.slug })}}" class="btn btn-primary {% if is_granted('ROLE_USER') %}{{classAdmin}}{% else %}{{class}}{% endif %}">Commencer la formation</a>

                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <a class="btn btn-success col-sm-3 col-sm-offset-2 col-xs-6 col-xs-offset-3 secondButton" href="{{ path('wkt_platform_article_modified_add_new_article', {'id': training.id}) }}">Créer un nouvel article</a>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}

