{% if commits is empty %}
{% else %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dernières modifications</h3>
            <small><em>Du plus récents au plus anciens</em></small>
        </div>
        <div class="panel-body">
            {% for commit in commits %}
                {% if commit is empty %}
                    <p><strong>Commit n°{{ loop.index }} :</strong></p>
                    <p><small><em>L'utilisateur n'a pas donné d'explication</em></small></p>
                {% else %}
                    <p><strong>Commit n°{{ loop.index }} :</strong><small> {{commit.typeOfModification.type}}</small></p>
                    <p>{{commit.content}}</p>
                    <p><small><em>Crée par : 
                        {% if commit.user is empty %}
                            Un utilisateur qui souhaite garder l'anonymat 👤
                        {% else %}
                            {{commit.user.firstname}} {{commit.user.lastname}} le {{commit.createdAt|date("d/m/Y")}}
                        {% endif %}
                    </em></small></p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
