{% if commits is empty %}
{% else %}
    <div class="panel panel-default listCommits">
        <div class="panel-heading">
            <h3 class="panel-title">Dernières modifications</h3>
        </div>
        <div class="panel-body">
            {% for commit in commits|reverse %}
                {% if commit is not empty %}
                    <p><strong><small>Commit n°{{ loop.index }} :</small></strong><small> {{commit.typeOfModification.type}}</small>
                    <small><em> par {% if commit.user is empty %}Anonyme 👤{% else %}{{commit.user.firstname}} {{commit.user.lastname}} le {{commit.createdAt|date("d/m/Y")}}{% endif %}</em></small></p>
                    <p><small><em>{{commit.content}}</em></small></p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
