{% extends 'WKTPlatformBundle:Article:articleLayout.html.twig' %}
{% block addArticle %}
    <a class="btn btn-success btn-lg" href="{{ path('wkt_platform_article_add', {'id': article.part.training.id}) }}">Ajouter un article</a>
{% endblock %}
{% block summaryInTraining %}
    {{ render(controller("WKTPlatformBundle:Training:summary", {'id': article.part.training.id } )) }}
{% endblock %}
{% block articleInTraining %}
        <div class="col-sm-10">
            <div class="row">
                <div class="col-xs-10">
                    <div class="page-header">
                      <h1>{{ article.title}}</h1>
                    </div>
                </div>
                <div class="col-xs-2" style="margin-top: 40px; margin-bottom: 10px;">
                    {% if article.isModifying %}
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#isModifying">
                          Modifier</button>
                    {% else %}
                        <a class="btn btn-warning" href="{{ path('wkt_platform_article_modified_add', {'id': article.id}) }}#wkt_platformbundle_articlemodified_title">Modifier</a>
                    {% endif %}
                </div>

            </div>

            <div class="row">
                <div class="col-xs-10">
                    <h2>En Bref</h2>
                </div>
                <div class="col-xs-2" style="margin-top: 20px; margin-bottom: 10px;">
                    {% if article.isModifying %}
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#isModifying">
                          Modifier</button>
                    {% else %}
                        <a class="btn btn-warning" href="{{ path('wkt_platform_article_modified_add', {'id': article.id}) }}#wkt_platformbundle_articlemodified_introduction">Modifier</a>
                    {% endif %}
                </div>
            </div>
            
         
            <div> 
                {% autoescape %}
                    {{ article.introduction|raw }} {# var won't be escaped #}
                {% endautoescape %}
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-10">
                    <h2>En Détail</h2>
                </div>
                <div class="col-xs-2" style="margin-top: 20px; margin-bottom: 10px;">
                    {% if article.isModifying %}
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#isModifying">
                          Modifier</button>
                    {% else %}
                        <a class="btn btn-warning" href="{{ path('wkt_platform_article_modified_add', {'id': article.id}) }}#wkt_platformbundle_articlemodified_content">Modifier</a>
                    {% endif %}
                </div>
            </div>
            <div> 
                {% autoescape %}
                    {{ article.content|raw }} {# var won't be escaped #}
                {% endautoescape %} 
            </div>
            <hr>
            {% if article.video.url is defined %}
                <div class="row">
                    <div class="col-xs-10">
                        <h2>En Vidéo</h2>
                    </div>
                    <div class="col-xs-2" style="margin-top: 20px; margin-bottom: 10px;">
                        {% if article.isModifying %}
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#isModifying">
                              Modifier</button>
                        {% else %}
                            <a class="btn btn-warning" href="{{ path('wkt_platform_article_modified_add', {'id': article.id}) }}#wkt_platformbundle_articlemodified_video">Modifier</a>
                        {% endif %}
                    </div>
                </div>
                <div class="">
                    <p><strong>Crée par : </strong>{{article.video.author}}</p>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" allowfullscreen src="https://www.youtube.com/embed/{{ article.video.url}}"></iframe>
                </div>
                <hr>
            {% endif %}

            <p><a class="btn btn-primary btn-lg" href="{{ path('wkt_platform_view', {'id': article.part.training.id, 'slugTraining': article.part.training.slug}) }}">Retour à l'accueil de la formation</a></p>
        </div>
          <!-- Modal -->
        <div class="modal fade" id="isModifying" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="myModalLabel">⚠️ Attention ⚠️</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Cette article fait déjà l'objet d'une ou plusieurs modifications en attentes de validation.</p>
                        <p class="text-center">Vous allez pouvoir choisir la version à partir de laquelle vous ferez votre modification.</p>
                        <p class="text-center">Vous pourrez également choisir d'en créer une nouvelle.</p>
                        <p class="text-center">Nous vous conseillons de jeter un oeil aux différentes versions, quelqu'un a peut-être déjà fait ce que vous voulez</p>
                    </div>
                    <div class="modal-footer">
                            <p class="text-center"><a class="btn btn-primary" href="{{ path('wkt_platform_article_modified_edit', {'id': idArticleModified}) }}#wkt_platformbundle_articlemodified_title">J'ai compris</a></p>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}



