{% extends 'WKTPlatformBundle:Article:layout.html.twig' %}

{% block summaryInTraining %}
   {% include "WKTPlatformBundle:Summary:viewSummary.html.twig" with {'thisArticle': article} %}
{% endblock %}
{% block articleInTraining %}
    <div class="row">
        <section class="articleSection">
            <div class="col-xs-12">
                <h1 class="titleTraining">{{ article.title}}</h1>
            </div>
        </section>
    </div> 
    {% include('WKTPlatformBundle:Article:buttonLinkArticle.html.twig') %}
    <div class="buttonLinkArticle">
        <p><a class="summaryInArticle" href="#en_Bref" title="">En Bref</a></p>
        <p><a class="summaryInArticle" href="#en_Video" title="">En Video</a></p>
        <p><a class="summaryInArticle" href="#en_Detail" title="">En Détail</a></p>
        {% include 'WKTPlatformBundle::summaryArticle.html.twig' %}
    </div>
    <div id="en_Bref" class="row">
        <section class="articleSection">
            <div class="col-xs-12">
                <hr>
                <div class="col-xs-8 withoutPadding">
                    <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/bref.svg') }}"> En bref</h2>
                </div>
                <div class=" col-xs-4 ">
                    {% if article.isModifying %}
                        <button type="button" class="btn btn-default col-xs-3 buttonHome buttonHomeTop buttonArticleModifyBref" data-toggle="modal" data-target="#isModifying">
                          Modifier</button>
                    {% else %}
                        <a class="btn btn-default col-xs-3 buttonHome buttonHomeTop buttonArticleModifyBref" href="{{ path('wkt_platform_article_modified_add', {'id': article.id}) }}">Modifier</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-12 ">
                  {{ article.introduction|raw}}
            </div>
        </section>
    </div>
    <div id="en_Video" class="row">
        <section class="articleSection">
            <div class="col-xs-12">
                <hr>
                <div class="col-xs-8 withoutPadding">
                    <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/video.svg') }}"> En video</h2>
                </div>
                <div class=" col-xs-4 ">
                    {% if article.isModifying %}
                        <button type="button" class="btn btn-default col-xs-3 buttonHome buttonHomeTop buttonArticleModifyVideo" data-toggle="modal" data-target="#isModifying">
                          Modifier</button>
                    {% else %}
                        <a class="btn btn-default col-xs-3 buttonHome buttonHomeTop buttonArticleModifyVideo" href="{{ path('wkt_platform_article_modified_add', {'id': article.id}) }}#en_Video">Modifier</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-12 ">
                {% if article.video.url is not defined %}
                    <div class="buttonLinkArticle">
                        <p class="noVideo">Aucune vidéo n'est enregistrée sur cet article</p> 
                    </div>
                {% else %}
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" allowfullscreen src="https://www.youtube.com/embed/{{ article.video.url}}"></iframe>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
    <div id="en_Detail" class="row">
        <section class="articleSection">
            <div class="col-xs-12">
                <hr>
                <div class="col-xs-8 withoutPadding">
                    <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/detail.svg') }}"> En detail</h2>
                </div>
                <div class=" col-xs-4 ">
                    {% if article.isModifying %}
                        <button type="button" class="btn btn-default col-xs-3 buttonHome buttonHomeTop buttonArticleModifyDetail" data-toggle="modal" data-target="#isModifying">
                          Modifier</button>
                    {% else %}
                        <a class="btn btn-default col-xs-3 buttonHome buttonHomeTop buttonArticleModifyDetail" href="{{ path('wkt_platform_article_modified_add', {'id': article.id}) }}#en_Detail">Modifier</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-12 contentArticle">
                  {{ article.content|raw}}
            </div>
        </section>
    </div>
    <hr>
    {% include('WKTPlatformBundle:Article:buttonLinkArticle.html.twig') %}
    {% if articlePreviousAndFollowing['previous'] %}
        <div class="buttonLinkArticle">
        
            <a class="linkValidateArticle" href="{{path('wkt_platform_article_view', {'slugTraining': articlePreviousAndFollowing.previous.part.training.slug, 'slugArticle': articlePreviousAndFollowing.previous.slug})}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Cours précédent : {{articlePreviousAndFollowing.previous.title}} </a>  
        </div>
    {% endif %} 
    {% if articlePreviousAndFollowing['following'] %}
        <div class="buttonLinkArticle">
            <a class="linkValidateArticle" href="{{path('wkt_platform_article_view', {'slugTraining': articlePreviousAndFollowing.following.part.training.slug, 'slugArticle': articlePreviousAndFollowing.following.slug})}}">Cours suivant : {{articlePreviousAndFollowing.following.title}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
    {% endif %}
    {% include('WKTPlatformBundle:Article:modal.html.twig') %}
{% endblock %}
