{% extends 'WKTPlatformBundle:Article:articleLayout.html.twig' %}
{% block addArticle %}
    <a class="btn btn-success btn-lg" href="{{ path('wkt_platform_article_add', {'id': article.part.training.id}) }}">Ajouter un article</a>
{% endblock %}
{% block summaryInTraining %}
    {{ render(controller("WKTPlatformBundle:Training:summary", {'id': article.part.training.id } )) }}
{% endblock %}
{% block articleInTraining %}
        <div class="col-sm-9">
            <div class="page-header">
              <h1>{{ article.title}}</h1>
            </div>
            <h2>En Bref</h2>
            <div> 
                {% autoescape %}
                    {{ article.introduction|raw }} {# var won't be escaped #}
                {% endautoescape %}
            </div>
            <hr>
            <h2>En Détail</h2>
            <div> 
                {% autoescape %}
                    {{ article.content|raw }} {# var won't be escaped #}
                {% endautoescape %} 
            </div>
            <hr>
            {% if article.video.url is defined %}
                <h2>En Vidéo</h2>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" allowfullscreen src="https://www.youtube.com/embed/{{ article.video.url}}"></iframe>
                </div>
                <hr>
            {% endif %}

            <p><a class="btn btn-primary btn-lg" href="{{ path('wkt_platform_view', {'id': article.part.training.id, 'slugTraining': article.part.training.slug}) }}">Retour à l'accueil de la formation</a></p>
        </div>
{% endblock %}



