{% extends "@FOSUser/Profile/layout.html.twig" %}

{% block fos_user_content %}
	    <div class="bodyLeft bodyLeftProfile">
	    	<div class="col-xs-12">
	    		<h2 class="text-center"><img class="imgLink" src="{{ asset('images/icones/profilPink.svg') }}"> Son Profil</h2>
	    		{% include 'WKTUserBundle:User:viewProfileMyProfile.html.twig' %}
	    	</div>
	    </div>
	    <div class="bodyRight">
	    	<div class="row">
	    	    <section class="articleSection">
	    	        <div class="col-xs-12">
	    	            <div class="col-xs-8 withoutPadding">
	    	                <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/cup.svg') }}"> Ses contributions</h2>
	    	            </div>
	    	            <div class="colButtonHome col-xs-4 ">
	    	                <a class="btn btn-default col-xs-3 buttonHome buttonHomeTop" href="{{path('wkt_core_contribution')}}">En savoir plus</a> 
	    	            </div>
	    	        </div>
	    	        <div class="col-xs-12 ">
						{% include 'WKTUserBundle:User:viewProfileContribution.html.twig' %}
	    	        </div>
	    	    </section>
	    	</div>
	    	<div class="row">
	    	    <section class="articleSection">
	    	        <div class="col-xs-12">
	    	        	<hr>
	    	            <div class="col-xs-12 withoutPadding">
	    	                <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/info.svg') }}"> Ses informations</h2>
	    	            </div>
	    	        </div>
	    	        <div class="col-xs-12 ">
	    	        	<p><img class="imgLinkProfile" src="{{ asset('images/icones/localisation.svg') }}"> Localisation : 
							{% include 'WKTUserBundle:User:viewProfileLocality.html.twig' %}
	    	        	</p>
	    	            <p><img class="imgLinkProfile" src="{{ asset('images/icones/email.svg') }}"> Adresse email : {{ user.email }}</p>
	    	            <p><img class="imgLinkProfile" src="{{ asset('images/icones/company.svg') }}"> Entreprise actuelle : {{ user.company }}</p>
	    	        </div>
	    	    </section>
	    	</div>
	    	<div class="row">
	    	    <section class="articleSection">
	    	        <div class="col-xs-12">
	    	        	<hr>
	    	            <div class="col-xs-12 withoutPadding">
	    	                <h2 class="withoutMargin"><img class="imgLink" src="{{ asset('images/icones/link.svg') }}"> Ses liens</h2>
	    	            </div>
	    	        </div>
	    	        <div class="col-xs-12 ">
	    	        	{% include 'WKTUserBundle:Link:indexByUser.html.twig'%}
	    	        </div>
	    	    </section>
	    	</div>
	    </div>
{% endblock fos_user_content %}
{% block javascripts %}
  {{parent()}}
  {% javascripts 'bundles/wktuser/removeTrashLink.js'%} 
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}








