{# src/WKT/CoreBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}WikiTech{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/r-2.1.1/datatables.min.css"/>
            {% stylesheets 'bundles/wktcore/coreBundle.css' %}
              <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
      {% block header %}
        {{ include("WKTCoreBundle::header.html.twig") }}
      {% endblock %}
      <div class=" content container-fluid">
        {% for message in app.session.flashbag.get('alert') %}
          <div class="alert alert-danger">Message flash : {{ message }}</div>
        {% endfor %}
        {% for message in app.session.flashbag.get('notice') %}
          <div class="alert alert-success">Message flash : {{ message }}</div>
        {% endfor %}
        {% for key, messages in app.session.flashbag.all() %}
          {% for message in messages %}
            <div class="alert alert-{{ key }}">{{ message|trans({}, 'FOSUserBundle') }}</div>
          {% endfor %}
        {% endfor %}

          {% block body %}{% endblock %}
      </div>
      {% block footer %}
         {{ include("WKTCoreBundle::footer.html.twig") }}
      {% endblock %}
      {% block javascripts %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <!-- Latest compiled and minified JavaScript -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLW7IKRu_g2eW6b20cfGegbekSuRg0KCY&libraries=places&callback=initAutocomplete"
                  async defer></script>
          <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/r-2.1.1/datatables.min.js"></script>
      {% endblock %}
    </body>
</html>
