{% extends "@FOSUser/layout.html.twig" %}
{% block h2Profile %}
    <h2 class=""><img class="imgLink" src="{{ asset('images/icones/login.svg') }}"> Bienvenue sur notre portail de connection</h2>
{% endblock %}
{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
    	<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
		{% if csrf_token %}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		{% endif %}
		<div class="form-group">
			<label for="username">Adresse email</label>
			<input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
		</div>		

		<div class="form-group">
			<label for="password">{{ 'security.login.password'|trans }}</label>
			<input type="password" class="form-control" id="password" name="_password" required="required" />
		</div>

		<div class="form-group">
			<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
		</div>
		<button type="submit" class="btn btn-primary" id="_submit">{{ 'security.login.submit'|trans }}</button>
		<div class="row">
			<a class="btn link passwordForget" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
		</div>	
	</form>      
{% endblock fos_user_content %}


