{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_errors(form.username) }}
	    {{ form_row(form.firstname) }}
	    {{ form_row(form.lastname) }}
	    {{ form_row(form.email) }}
	    {{ form_rest(form) }}
        <button id="buttonRegister" class="btn btn-success" type="submit">Enregistrer</button>
	{{ form_end(form) }}
    
{% endblock fos_user_content %}
{% block javascripts %}
  {{parent()}}
  {% javascripts 'bundles/wktuser/generateUsername.js'%} 
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

